[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/r0lm0-NestJS-MicroServices/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/r0lm0-NestJS-MicroServices/products-ms.git
